.container {
  background-repeat: no-repeat;
  background: url('../assets/images/gamza1.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  object-fit: contain;
}

.container > h1 {
  color: #ffffff;
  font-size: 100px;
  margin-top: -100px;
}

.container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.btns {
  margin-top: 32px;
}

.container .btn {
  margin: 6px;
}
