/*----------LAYOUT-----------*/
.detail-container {
  margin: 35px auto;
  display: grid;
  width: 600px;
  height: auto;
  background: rgb(223, 208, 185);
  grid-template-rows: 400px 100px 150px 400px;
}

.detail-container-top {
  margin: 17px auto;
}

.detail-container-mid1 {
  margin: 20px 50px 20px 50px;
  border-bottom: solid 1px #ababab;
}
.detail-container-mid2 {
  margin: 0px 50px 5px 50px;
  border-bottom: solid 1px #ababab;
}
.detail-container-bot {
  margin: 10px 50px;
}
/*----------LAYOUT END-----------*/
.detail-container-top img {
  width: 500px;
  height: 400px;
}

.mid1-img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  object-fit: cover;
}

.mid1-info {
  margin: 8px 60px;
  font-weight: bold;
}

.mid1-info h6 {
  margin: 2px;
  color: rgb(158, 154, 154);
}

.mid2-info {
  font-weight: bold;
  margin: 20px;
}

/*-----------------------------comment-----*/
.comment_container {
  margin: 10px 40px;
  border-top: solid 1px #ababab;
}

.comment_write {
  height: 150px;
  border-bottom: solid 1px #ababab;
}
.comment_write textarea {
  width: 80%;
  padding: 10px;
  resize: none;
  font-size: 15px;
  line-height: 25px;
}

.comment_write button {
  position: absolute;
  width: 5%;
  height: 12.7%;
  margin-top: -0px;
  background-color: white;
  border: solid 1px #ababab;
  cursor: pointer;
}

/*======delete button=======*/

.detail-container ul {
  list-style: none;
}

.com-img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  object-fit: cover;
  float: left;
}

.commentline-1 {
  color: gray;
  font-size: 10px;
}

.li-container {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #ababab;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.li-container button {
  border: transparent;
  background: none;
  font-size: 15px;
  display: block;
  color: #ababab;
}
.li-container button:hover {
  cursor: pointer;
  color: #858383;
}
.commentctr {
  margin-right: 50px;
}
