.detail-container {
  margin: auto;
}

.detail-container-top {
  display: flex;
  flex-direction: row;
}
.dct-left {
  width: 400px;
  height: 400px;
}
.dct-left img {
  width: 400px;
  height: 400px;
}
